
Hello <%=name%>, you are <%=age%> years old and your favorite numbers are <%=num_1%>, <%=num_2%>, and <%=num_3%>.
Your hair color is <%=hair%>. What color are your eyes?

<form method="post" action="/eye_color">
<input type="hidden" min="1" max="100" name="number1" value=<%=num_1%>>
<input type="hidden" min="1" max="100" name="number2" value=<%=num_2%>> 
<input type="hidden" min="1" max="100" name="number3" value=<%=num_3%>>
<input type="hidden" name="user_name" value=<%=name%>>
<input type="hidden" name="last_name" value = <%=last%>>
<input type="hidden" name="age" value=<%=age%>>
<input type="hidden" name="hair_color" value=<%=hair%>>
<input type="text" name="eye_color">
<input type="submit">
</form>

